html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn {
  border-width:
}

.btn-big {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
}
